templates/state_machine.yaml
AWSTemplateFormatVersion: "2010-09-09"
Transform: AWS::Serverless-2016-10-31
Description: Amazon S3 Find and Forget State Machine

Globals:
  Function:
    Runtime: python3.7
    Timeout: 180
    Tracing: Active
    Layers: !Ref CommonLayers
    Environment:
      Variables:
        LogLevel: !Ref LogLevel

Parameters:
  AthenaConcurrencyLimit:
    Description: How many Athena queries should be scheduled concurrently
    Type: Number
    Default: 20
  AthenaWorkGroup:
    Description: WorkGroup to use for Athena queries
    Type: String
    Default: primary
  CommonLayers:
    Type: CommaDelimitedList
    Description: Common layers supplied to all functions
  DeletionQueueTableName:
    Description: Table name for Deletion Queue Table
    Type: String
  DataMapperTableName:
    Description: Table name for Data Mapper Table
    Type: String
  DeleteServiceName:
    Type: String
  DeletionTasksMaxNumber:
    Type: Number
  ECSCluster:
    Type: String
  DeleteQueueUrl:
    Type: String
  LogLevel:
    Type: String
    Default: INFO
    AllowedValues:
    - CRITICAL
    - FATAL
    - ERROR
    - WARNING
    - INFO
    - DEBUG
    - NOTSET
  StateMachinePrefix:
    Type: String

Resources:
  StatesExecutionRole:
    Type: "AWS::IAM::Role"
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
        - Effect: "Allow"
          Principal:
            Service:
            - !Sub states.${AWS::Region}.amazonaws.com
          Action: "sts:AssumeRole"
      Path: "/"
      Policies:
      - PolicyName: StatesExecutionPolicy
        PolicyDocument:
          Version: "2012-10-17"
          Statement:
          - Effect: Allow
            Action:
            - "lambda:InvokeFunction"
            Resource: "*"
          - Effect: Allow
            Action:
            - "sqs:SendMessage"
            Resource: "*"
          - Effect: Allow
            Action:
            - "dynamodb:DeleteItem"
            Resource: !Sub "arn:${AWS::Partition}:dynamodb:${AWS::Region}:${AWS::AccountId}:table/${DeletionQueueTableName}"
          - Effect: Allow
            Action:
            - "events:PutTargets"
            - "events:PutRule"
            - "events:DescribeRule"
            Resource: "*"
          - Effect: Allow
            Action:
            - "states:StartExecution"
            - "states:List*"
            - "states:Describe*"
            Resource: "*"

  AthenaStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub ${StateMachinePrefix}-AthenaStateMachine
      RoleArn: !GetAtt StatesExecutionRole.Arn
      DefinitionString: !Sub |-
        {
          "StartAt": "Execute Query",
          "States": {
            "Execute Query": {
              "Comment": "Start an Athena query asynchronously",
              "Type": "Task",
              "Parameters": {
                "QueryData.$": "$",
                "Bucket": "${ResultBucket}",
                "Prefix": "queries"
              },
              "Resource": "${ExecuteQuery.Arn}",
              "ResultPath": "$.QueryId",
              "Next": "Get Query Status"
            },
            "Wait for Query": {
              "Comment": "Waits before checking again whether Athena is done",
              "Type": "Wait",
              "Seconds": 15,
              "Next": "Get Query Status"
            },
            "Get Query Status": {
              "Comment": "Gets the status of the given Athena query",
              "Type": "Task",
              "Resource": "${CheckQueryStatus.Arn}",
              "InputPath": "$.QueryId",
              "ResultPath": "$.QueryStatus",
              "Next": "Query Complete?"
            },
            "Query Complete?": {
              "Comment": "Check if the Athena query is still running",
              "Type": "Choice",
              "Choices": [
              {
                "Variable": "$.QueryStatus.State",
                "StringEquals": "SUCCEEDED",
                "Next": "Query Succeeded"
              },
              {
                "Or": [
                  {
                    "Variable": "$.QueryStatus.State",
                    "StringEquals": "FAILED"
                  },
                  {
                    "Variable": "$.QueryStatus.State",
                    "StringEquals": "CANCELLED"
                  }
                ],
                "Next": "Query Failed"
              }
              ],
              "Default": "Wait for Query"
            },
            "Query Succeeded": {
              "Comment": "The query was successful",
              "Type": "Pass",
              "Next": "Submit Query Results"
            },
            "Query Failed": {
              "Comment": "The query was unsuccessful",
              "Type": "Fail"
            },
            "Submit Query Results": {
              "Comment": "Obtain the query results from S3 and send them to Fargate",
              "Type": "Task",
              "Resource": "${SubmitQueryResults.Arn}",
              "ResultPath": null,
              "Next": "Mark Execution as Success"
            },
            "Mark Execution as Success": {
              "Comment": "If an SQS message receipt handle was provided, it will now be deleted",
              "Type": "Task",
              "Resource": "${DeleteQueueMessage.Arn}",
              "ResultPath": null,
              "End": true
            }
          }
        }

  DeleteStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub ${StateMachinePrefix}-DeletionStateMachine
      RoleArn: !GetAtt StatesExecutionRole.Arn
      DefinitionString: !Sub |-
        {
          "StartAt": "Fetch Queue Size",
          "States": {
            "Fetch Queue Size": {
              "Comment": "Checks the number of messages in the Object Deletion Queue",
              "Type": "Task",
              "Resource": "${CheckQueueSize.Arn}",
              "Parameters": {
                "QueueUrl": "${DeleteQueueUrl}"
              },
              "ResultPath": "$.Queue",
              "Next": "Adjust Deletion Service Instance Count"
            },
            "Adjust Deletion Service Instance Count": {
              "Comment": "Sets the desired instance count based on Object Deletion Queue size",
              "Type": "Task",
              "Resource": "${OrchestrateECSServiceScaling.Arn}",
              "Parameters": {
                "Cluster": "${ECSCluster}",
                "DeleteService": "${DeleteServiceName}",
                "DeletionTasksMaxNumber": ${DeletionTasksMaxNumber},
                "QueueSize.$": "$.Queue.Total"
              },
              "ResultPath": "$.DesiredCount",
              "Next": "Items in Queue?"
            },
            "Items in Queue?": {
              "Comment": "Checks if any tasks are being created/terminated",
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.DesiredCount",
                  "NumericEquals": 0,
                  "Next": "No"
                },
                {
                  "Variable": "$.DesiredCount",
                  "NumericGreaterThan": 0,
                  "Next": "Wait"
                }
              ],
              "Default": "Not sure, fail"
            },
            "Wait": {
              "Comment": "Waits before checking if the Object Deletion Queue is empty",
              "Type": "Wait",
              "Seconds": 30,
              "Next": "Fetch Queue Size again"
            },
            "Fetch Queue Size again": {
              "Comment": "Checks the number of messages in the Object Deletion Queue",
              "Type": "Task",
              "Resource": "${CheckQueueSize.Arn}",
              "Parameters": {
                "QueueUrl": "${DeleteQueueUrl}"
              },
              "ResultPath": "$.Queue",
              "Next": "Queue is Empty?"
            },
            "Queue is Empty?": {
              "Comment": "Checks if the Total messages are 0",
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.Queue.Total",
                  "NumericEquals": 0,
                  "Next": "Adjust Deletion Service Instance Count"
                },
                {
                  "Variable": "$.Queue.Total",
                  "NumericGreaterThan": 0,
                  "Next": "Wait"
                }
              ],
              "Default": "Not sure, fail"
            },
            "Not sure, fail": {
              "Type": "Fail"
            },
            "No": {
              "Type": "Succeed"
            }
          }
        }

  StateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub ${StateMachinePrefix}-StateMachine
      DefinitionString: !Sub |-
        {
          "Comment": "State machine for processing the S3 Find and Forget deletion queue.",
          "StartAt": "Check is Oldest Execution",
          "States": {
            "Check is Oldest Execution": {
              "Comment": "Queries the Step Functions API to check if the current executions is the oldest",
              "Type": "Task",
              "Resource": "${OldestExecutionCheck.Arn}",
              "Parameters": {
                "ExecutionId.$": "$$.Execution.Id"
              },
              "ResultPath": "$.IsOldestExecution",
              "Next": "Should Start?"
            },
            "Wait": {
              "Comment": "Waits before checking again whether this is the current execution",
              "Type": "Wait",
              "Seconds": 120,
              "Next": "Check is Oldest Execution"
            },
            "Should Start?": {
              "Comment": "Check if this execution is the oldest running execution and proceed if so.",
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.IsOldestExecution",
                  "BooleanEquals": true,
                  "Next": "Query Deletion Queue"
                },
                {
                  "Variable": "$.IsOldestExecution",
                  "BooleanEquals": false,
                  "Next": "Wait"
                }
              ],
              "Default": "CatchAllFallback"
            },
            "Query Deletion Queue": {
              "Comment": "Scan the deletion queue table to obtain all users to be deleted ",
              "Type": "Task",
              "Resource": "${ScanTable.Arn}",
              "Parameters": {
                "TableName": "${DeletionQueueTableName}"
              },
              "ResultPath": "$.DeletionQueue",
              "Next": "Users in Queue?"
            },
            "Users in Queue?": {
              "Comment": "If the deletion queue is empty, exit gracefully. Otherwise, proceed to processing the queue.",
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.DeletionQueue.Count",
                  "NumericGreaterThan": 0,
                  "Next": "Yes"
                },
                {
                  "Variable": "$.DeletionQueue.Count",
                  "NumericEquals": 0,
                  "Next": "No"
                }
              ],
              "Default": "No"
            },
            "No": {
              "Comment": "No work to be done.",
              "Type": "Succeed"
            },
            "Yes": {
              "Comment": "Continue.",
              "Type": "Pass",
              "Next": "Get Data Mappers"
            },
            "Get Data Mappers": {
              "Comment": "Gets the list of data mappers",
              "Type": "Task",
              "Parameters": {
                "TableName": "${DataMapperTableName}"
              },
              "Resource": "${ScanTable.Arn}",
              "ResultPath": "$.DataMappers",
              "Next": "Discover Files"
            },
            "Discover Files": {
              "Type": "Parallel",
              "Next": "Start Fargate Workflow",
              "ResultPath": null,
              "Branches": [
                {
                  "StartAt": "Filter Athena Data Mappers",
                  "States": {
                    "Filter Athena Data Mappers": {
                      "Parameters": {
                        "DataMappers.$": "$.DataMappers.Items[?(@.QueryExecutor=='athena')]",
                        "DeletionQueue.$": "$.DeletionQueue.Items"
                      },
                      "Comment": "Process Data Mappers with Athena as the query executor",
                      "Type": "Pass",
                      "Next": "Generate Queries"
                    },
                    "Generate Queries": {
                      "Comment": "Process each of the Athena data mappers and populate the Athena query queue",
                      "Type": "Task",
                      "Resource": "${GenerateQueries.Arn}",
                      "ResultPath": null,
                      "Next": "Fetch Queue Size"
                    },
                    "Fetch Queue Size": {
                      "Comment": "Checks the number of messages in the Query Queue",
                      "Type": "Task",
                      "Resource": "${CheckQueueSize.Arn}",
                      "Parameters": {
                        "QueueUrl": "${QueryQueue}"
                      },
                      "ResultPath": "$.QueryQueue",
                      "Next": "Outstanding Queries?"
                    },
                    "Outstanding Queries?": {
                      "Comment": "Checks if any queries are yet to be ran or are in progress or if we need to wait for capacity",
                      "Type": "Choice",
                      "Choices": [
                        {
                          "Variable": "$.QueryQueue.Total",
                          "NumericEquals": 0,
                          "Next": "Done"
                        },
                        {
                          "Variable": "$.QueryQueue.NotVisible",
                          "NumericLessThan": ${AthenaConcurrencyLimit},
                          "Next": "Work Queue"
                        }
                      ],
                      "Default": "Wait for Queries"
                    },
                    "Work Queue": {
                      "Comment": "Works the Object Deletion Queue by starting Athena State Machine executions",
                      "Type": "Task",
                      "Resource": "${WorkQueryQueue.Arn}",
                      "ResultPath": null,
                      "Next": "Wait for Queries"
                    },
                    "Wait for Queries": {
                      "Comment": "Waits before rechecking if the Object Deletion Queue is empty",
                      "Type": "Wait",
                      "Seconds": 5,
                      "Next": "Fetch Queue Size"
                    },
                    "Done": {
                      "Type": "Pass",
                      "End": true
                    }
                  }
                }
              ]
            },
            "Start Fargate Workflow": {
              "Type":"Task",
              "Resource":"arn:aws:states:::states:startExecution.sync",
              "Parameters":{
                "Input":{
                  "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
                },
                "StateMachineArn":"${DeleteStateMachine}",
                "Name.$": "$$.Execution.Name"
              },
              "ResultPath": null,
              "Next": "Delete Queue Items"
            },
            "Delete Queue Items": {
              "Comment": "Deletes all items from the deletion queue",
              "Type": "Map",
              "End": true,
              "InputPath": "$.DeletionQueue.Items",
              "ItemsPath": "$",
              "ResultPath": null,
              "MaxConcurrency": 10,
              "Iterator": {
                "StartAt": "Delete Queue Item",
                "States": {
                  "Delete Queue Item": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::dynamodb:deleteItem",
                    "Parameters": {
                      "TableName": "${DeletionQueueTableName}",
                      "Key": {
                        "MatchId": {"S.$": "$.MatchId"}
                      }
                    },
                    "ResultPath": null,
                    "End": true
                  }
                }
              }
            },
            "CatchAllFallback": {
               "Type": "Pass",
               "Result": "This is a fallback from any error code",
               "End": true
            }
          }
        }
      RoleArn: !GetAtt StatesExecutionRole.Arn

  # Supporting Resources
  ResultBucket:
    Type: AWS::S3::Bucket
    Properties:
      LifecycleConfiguration:
        Rules:
        - Id: ExpireQueryResults
          Prefix: queries
          Status: Enabled
          ExpirationInDays: '1'

  QueryQueue:
    Type: AWS::SQS::Queue
    Properties:
      VisibilityTimeout: 120

  # Tasks
  OldestExecutionCheck:
    Type: AWS::Serverless::Function
    Properties:
      Handler: oldest_execution.handler
      CodeUri: ../backend/lambdas/tasks/
      Environment:
        Variables:
          StateMachineArn: !Sub arn:${AWS::Partition}:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${StateMachinePrefix}-StateMachine
      Policies:
      - Statement:
        - Action:
          - "states:ListExecutions"
          Effect: "Allow"
          Resource: !Sub arn:${AWS::Partition}:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${StateMachinePrefix}*

  ScanTable:
    Type: AWS::Serverless::Function
    Properties:
      Handler: scan_table.handler
      CodeUri: ../backend/lambdas/tasks/
      Policies:
      - DynamoDBReadPolicy:
          TableName: !Ref DeletionQueueTableName
      - DynamoDBReadPolicy:
          TableName: !Ref DataMapperTableName

  ParseStateMachineOutput:
    Type: AWS::Serverless::Function
    Properties:
      Handler: parse_output.handler
      CodeUri: ../backend/lambdas/tasks/

  CheckQueueSize:
    Type: AWS::Serverless::Function
    Properties:
      Handler: check_queue_size.handler
      CodeUri: ../backend/lambdas/tasks/
      Policies:
      - Statement:
        - Action:
          - "sqs:GetQueueAttributes"
          Effect: "Allow"
          Resource: "*"

  ExecuteQuery:
    Type: AWS::Serverless::Function
    Properties:
      Handler: execute_query.handler
      CodeUri: ../backend/lambdas/tasks/
      Environment:
        Variables:
          AthenaWorkGroup: !Ref AthenaWorkGroup
      Policies:
      - S3CrudPolicy:
          BucketName: !Ref ResultBucket
      - Statement:
        - Action:
          - "athena:StartQueryExecution"
          - "glue:GetDatabase"
          - "glue:GetTable"
          - "glue:GetPartition*"
          Effect: "Allow"
          Resource: "*"

  CheckQueryStatus:
    Type: AWS::Serverless::Function
    Properties:
      Handler: check_query_status.handler
      CodeUri: ../backend/lambdas/tasks/
      Policies:
      - Statement:
        - Action:
          - "athena:GetQueryExecution"
          Effect: "Allow"
          Resource: "*"

  SubmitQueryResults:
    Type: AWS::Serverless::Function
    Properties:
      Handler: submit_query_results.handler
      CodeUri: ../backend/lambdas/tasks/
      Environment:
        Variables:
          QueueUrl: !Ref DeleteQueueUrl
      Policies:
      - S3ReadPolicy:
          BucketName: !Ref ResultBucket
      - Statement:
        - Action:
          - "athena:GetQueryResults"
          Effect: "Allow"
          Resource: "*"
        - Action:
          - "sqs:SendMessage"
          Effect: "Allow"
          Resource: "*"

  GenerateQueries:
    Type: AWS::Serverless::Function
    Properties:
      Handler: generate_queries.handler
      CodeUri: ../backend/lambdas/tasks/
      Environment:
        Variables:
          QueryQueue: !Ref QueryQueue
      Policies:
      - Statement:
        - Effect: "Allow"
          Action:
          - "glue:GetDatabase"
          - "glue:GetTable*"
          - "glue:GetPartition*"
          Resource: "*"
        - Effect: Allow
          Action:
          - "sqs:SendMessage*"
          Resource: "*"

  OrchestrateECSServiceScaling:
    Type: AWS::Serverless::Function
    Properties:
      Handler: orchestrate_ecs_service_scaling.handler
      CodeUri: ../backend/lambdas/tasks/
      Policies:
      - Statement:
        - Action:
          - "ecs:UpdateService"
          Effect: "Allow"
          Resource: "*"

  AggregateResults:
    Type: AWS::Serverless::Function
    Properties:
      Handler: aggregate_results.handler
      CodeUri: ../backend/lambdas/tasks/

  WorkQueryQueue:
    Type: AWS::Serverless::Function
    Properties:
      Handler: work_query_queue.handler
      CodeUri: ../backend/lambdas/tasks/
      Environment:
        Variables:
          AthenaConcurrencyLimit: !Ref AthenaConcurrencyLimit
          StateMachineArn: !Ref AthenaStateMachine
          QueueUrl: !Ref QueryQueue
      Policies:
      - Statement:
        - Action:
            - "sqs:ReceiveMessage*"
            - "sqs:ChangeMessageVisibility"
            - "sqs:PurgeQueue"
          Effect: "Allow"
          Resource: "*"
        - Effect: Allow
          Action:
            - "states:StartExecution"
          Resource: !Ref AthenaStateMachine

  DeleteQueueMessage:
    Type: AWS::Serverless::Function
    Properties:
      Handler: delete_message.handler
      CodeUri: ../backend/lambdas/tasks/
      Environment:
        Variables:
          QueueUrl: !Ref QueryQueue
      Policies:
      - Statement:
        - Action:
            - "sqs:DeleteMessage"
          Effect: "Allow"
          Resource: "*"

Outputs:
  AthenaStateMachineArn:
    Value: !Ref AthenaStateMachine
  AthenaExecutionRoleArn:
    Value: !GetAtt ExecuteQueryRole.Arn
  StateMachineArn:
    Value: !Ref StateMachine
  StateMachineRoleArn:
    Value: !GetAtt StatesExecutionRole.Arn
  QueryQueueUrl:
    Value: !Ref QueryQueue
  ResultBucket:
    Value: !Ref ResultBucket